@CHARSET "UTF-8";

.body-dialogbox {
	background-color: white;
	border: 2px #91c8ff solid;
	margin: 0px;
	padding: 0px;
	height: 120px;
}

#title {
	background-color: #91c8ff;
	color: white;
	width: 350px;
	margin: 0px;
	padding: 0px;
	margin-right: -1px;
	margin-left: -1px;
}

#title2 {
	color: red;
	width: 100px;
}
#nodata{
	font-size: 20px;
	clear:both;
	bottom:35px;
	width:100%;
	position: absolute;
}
.exitbtn{
	clear:both;
	bottom:0;
	float:right;
	width:50px;
	position: absolute;
}
.bolgebtn{
	background-color: #044481;/*rgb(29, 93, 154);*/
	color:white;
	border : 2px #044481 solid;
	/*border-radius : 20px;*/
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	cursor :pointer;
}
#headerBm{
	background-color: #044481;
	color:white;
	font-size:large;
	padding: 0px;
	margin-top:-140px;
	width: 500px;
	padding: 3px;
	
}
.BmBody{
	
	background-image:
    linear-gradient(
      to bottom, 
      #BBD3FC, 
      white,
      white,
      white
    );
    width: 500px;
    height: 300px;
	
}
.srchTxt{
	margin-top:-100px;
	background-color:red;
}

